{% extends 'base.html.twig' %}

{% block title %}TimeSheet{% endblock %}

{% block body %}
    <h1>TimeSheet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time_sheet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ time_sheet.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ time_sheet.prenom }}</td>
            </tr>
            <tr>
                <th>Cours</th>
                <td>{{ time_sheet.cours }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ time_sheet.commentaire }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ time_sheet.createdAt ? time_sheet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ time_sheet.updatedAt ? time_sheet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Deleted_at</th>
                <td>{{ time_sheet.deletedAt ? time_sheet.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ time_sheet.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ time_sheet.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ time_sheet.ville }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ time_sheet.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('time_sheet_index') }}">back to list</a>

    <a href="{{ path('time_sheet_edit', {'id': time_sheet.id}) }}">edit</a>

    {{ include('time_sheet/_delete_form.html.twig') }}
{% endblock %}
